body {
  font-family: 'Open Sans';
  font-size: 16px;
  margin-bottom: 100px;
}

svg {
  display: block;
  max-height: 100%;
}

td {
  height: 30px;
  width: 30px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

/* https://vuejs.org/v2/api/#v-cloak */
[v-cloak] {
  display: none;
}

.top-buffer {
  margin-top: 15px;
}

.win-overlay {
    position: fixed; /* or 'absolute' if you prefer */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    color: white;
    font-size: 4em; /* Large text */
    z-index: 1000; /* Ensure it's on top */
    display: none; /* Hidden by default */
}

